In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
data = pd.read_csv("C:/Users/benX/OneDrive/Escritorio/proyecto_final_EE/proyectoeq5/epw/viento.csv")
data.time = pd.to_datetime(data.time,format='%d/%m/%Y %H:%M')
data.set_index("time",inplace=True)

In [5]:
d2=data.resample('10min').mean()
d2

                      Speed       Dir
time
2019-05-03 00:00:00  2.1151  340.3500
2019-05-03 00:10:00  1.6093  314.6030
2019-05-03 00:20:00  1.8725  280.9640
2019-05-03 00:30:00  1.5021   51.6087
2019-05-03 00:40:00  1.3980  219.5240
...                     ...       ...
2019-06-24 23:20:00  0.9254  226.5900
2019-06-24 23:30:00  1.4013  223.5000
2019-06-24 23:40:00  2.3877  194.7400
2019-06-24 23:50:00  3.4972  145.0600
2019-06-25 00:00:00  3.1700  141.5000

[7633 rows x 2 columns]

In [26]:
d2.to_csv('wind.csv')